<div class="container">
  <nav>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" type="text" name="search">
      </div>
      <!-- <div class="two columns">
        <button class="button-primary" type="button" name="button">search</button>
      </div> -->
      <div class="six columns">
        <select class="u-full-width" name="categories">
          <option value="all">all</option>
          <option value="languages">languages</option>
          <option value="locations">locations</option>
          <option value="technical">technical</option>
          <option value="random">random</option>
        </select>
      </div>
    </div>
  </nav>
  <div>
    {{#each people}}
      <div id="{{id}}" class="people">
        <h2>{{name}}<span class="deletePerson" id="{{id}}"> <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png"></span></h2>
        <p>{{email}}</p>
        <div id="skillDiv">
          {{#each skills.languages}}
            <span class="languages skills">{{this}}<span class="delete languages"> <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png"></span></span>
          {{/each}}
          {{#each skills.technical}}
            <span class="technical skills">{{this}}<span class="delete technical"> <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png"></span></span>
          {{/each}}
          {{#each skills.locations}}
            <span class="locations skills">{{this}}<span class="delete locations"> <img src="http://megaicons.net/static/img/icons_sizes/8/178/512/editing-delete-icon.png"></span></span>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
